// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-face: #619bff;
  --ion-color-face-rgb: 97,155,255;
  --ion-color-face-contrast: #000000;
  --ion-color-face-contrast-rgb: 0,0,0;
  --ion-color-face-shade: #5588e0;
  --ion-color-face-tint: #71a5ff;

  --ion-color-whatsapp: #25D366;
  --ion-color-whatsapp-rgb: 37,211,102;
  --ion-color-whatsapp-contrast: #ffffff;
  --ion-color-whatsapp-contrast-rgb: 255,255,255;
  --ion-color-whatsapp-shade: #20ba58;
  --ion-color-whatsapp-tint: #3cda74;

  --ion-color-x: #000000;
  --ion-color-x-rgb: 0,0,0;
  --ion-color-x-contrast: #ffffff;
  --ion-color-x-contrast-rgb: 255,255,255;
  --ion-color-x-shade: #1a1a1a;
  --ion-color-x-tint: #1f1f1f;

  --ion-color-linkedin: #0A66C2;
  --ion-color-linkedin-rgb: 10,102,194;
  --ion-color-linkedin-contrast: #ffffff;
  --ion-color-linkedin-contrast-rgb: 255,255,255;
  --ion-color-linkedin-shade: #095bb0;
  --ion-color-linkedin-tint: #2173c8;
}

.ion-color-face {
    --ion-color-base: var(--ion-color-face) !important;
	--ion-color-base-rgb: var(--ion-color-face-rgb) !important;
	--ion-color-contrast: var(--ion-color-face-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-face-contrast-rgb) !important;
	--ion-color-shade:var(--ion-color-face-shade) !important;
	--ion-color-tint: var(--ion-color-face-tint) !important;
}

.ion-color-whatsapp {
  --ion-color-base: var(--ion-color-whatsapp) !important;
  --ion-color-base-rgb: var(--ion-color-whatsapp-rgb) !important;
  --ion-color-contrast: var(--ion-color-whatsapp-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-whatsapp-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-whatsapp-shade) !important;
  --ion-color-tint: var(--ion-color-whatsapp-tint) !important;
}

.ion-color-x {
  --ion-color-base: var(--ion-color-x) !important;
  --ion-color-base-rgb: var(--ion-color-x-rgb) !important;
  --ion-color-contrast: var(--ion-color-x-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-x-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-x-shade) !important;
  --ion-color-tint: var(--ion-color-x-tint) !important;
}

.ion-color-linkedin {
  --ion-color-base: var(--ion-color-linkedin) !important;
  --ion-color-base-rgb: var(--ion-color-linkedin-rgb) !important;
  --ion-color-contrast: var(--ion-color-linkedin-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-linkedin-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-linkedin-shade) !important;
  --ion-color-tint: var(--ion-color-linkedin-tint) !important;
}



