<app-header titulo="Fab"></app-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fab</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
    <ion-icon name="logo-facebook" color="face"></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon name="logo-whatsapp" color="whatsapp"></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon name="logo-x" color="x"></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon name="logo-linkedin" color="linkedin"></ion-icon>
  </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
        <ion-label> Hola {{i+1}} </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
